/* Extra small screens */
:root {

    /**
    * Grid spacing
    * - The fixed base grid space
    * - It will not change with the screen width
    */
    --space-grid: 0.5rem;
    /* 8px */

    /**
    * Default elements spacing
    * - The responsive elements spacing
    * - It will change with the screen width
    */
    --space: calc(var(--space-grid) * 2);
    /* 16px */

    /**
    * Default responsive section padding
    * - It will change with the screen width
    */
    --padding-section: calc(var(--space-grid) * 3);
    /* 24px */

    /**
    * Default boxed width
    * - The max-width of the boxed blocks
    */
    --boxed-width: 75rem;

}

    /* Small screens */
    @media screen and (min-width: 600px) {
        :root {
            --padding-section: 3.75rem;
            /* 60px */
            --space: calc(var(--space-grid) * 3);
            /* 24px */
        }
    }

    /* Medium screens */
    @media screen and (min-width: 900px) {
        :root {
            --space: calc(var(--space-grid) * 4);
            /* 32px */
        }
    }

    /* Large screens */
    @media screen and (min-width: 1200px) {
        :root {
            --padding-section: 6rem;
            /* 96px */
        }
    }
